.scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.4s;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.button {
  background-color: #5651e5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #433edc;
}
