.box{position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 35px 0  35px 10px;
    width: 350px;
    height: 100px;
    background-color: #fff;
    border:none;
    outline: none;
}

.email{
    font-size: 22px;
    font-weight: bold;
}

.copy{
    position: absolute;
    top: 28px;
    right: 16px;
    cursor: pointer;
    border: 1px solid black;
    padding: 8px 5px;
    border-radius: 8px;
}

.copied{
    font-size: 14px;
    color: #5651e5;
}