

.title{position: relative;
}
.alternate{
    display: inline;
    margin-left: 10px;
    
}
.alternate {
    position: absolute;
    width: max-content;
    background-color: #0561EE;
    padding-inline: 10px;
    /* opacity: 0; */
    transform-origin: 10% 75%;
    animation: rotateWords 9s var(--d) linear infinite;
}

@keyframes rotateWords {
    5% {
        opacity: 1;
    }
    10%,
    20% {
        
        transform: rotate(-1deg);
    }
    15% {
        opacity: 1;
        transform: rotate(3deg);
    }
    25% {
        opacity: 0;
        transform: translateY(90px) rotate(10deg);
    }

}


