button .btn{  
display: none;
}


.img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.img:last-child{
    margin-left: 10px;
}

.img:hover{
    transform: scale(1.1);

}

.wrapperBtn{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.active{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.wrap{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}