.wrap{
    position: relative;
    padding: 10px;
    margin: 100px auto;
    width: 340px;
    height: 400px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #fff;
    border-radius: 8px;
}

.wrapBody{
    position:fixed;
    background-color: rgba(150, 150, 150, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 99;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover{
    transform: scale(1.2);
    color:#5651e5
}

.title{
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.donat{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5651e5;
    height: 40px;
    border-radius: 8px;
}

.donat:hover{
    background-color:#5651e5 ;
    color:white;
}

.wrapImg{
    margin-top: 10px;
}